<h1>Agregar nuevo Amigo</h1>
<%= form_with(model: @amigo, local: true) do |form| %>
  <div>
    <%= form.label :nombre, "Nombre" %>
    <%= form.text_field :nombre %>
  </div>
  <div>
    <%= form.label :fecha_cumpleanos, "Fecha de Cumpleaños" %>
    <%= form.date_select :fecha_cumpleanos %>
  </div>
  <div>
    <%= form.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver a index', amigos_path %>